{% extends "base.html" %}

{% block title %}Parent Profile{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="/static/scripts/pagination.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var blog = $('#blog-list');
            
            $('#blog-pagination').pagination({
                dataSource: '/api/blog/{{ psyc_info.psyc_id }}',
                locator: 'posts',
                pageSize: 10,
                totalNumberLocator: function(response) {
                    return response.total;
                },
                alias: {
                    pageNumber: 'page_num',
                    pageSize: 'page_size'
                },
                beforeRender: function(isForced) {
                    // Insert a spinner
                    blog.html('<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>');
                },
                callback: function(data, pagination) {
                    var html = '';
                    
                    for (var i = 0; i < data.length; i++) {
                        var post = data[i];
                        
                        html += '<tr>';
                        html += '<td>' + post.subject + '</td>';
                        html += '<td>' + post.date_posted + '</td>';
                        html += '<td>';
                        html += '<a href="#"><i class="fas fa-edit" aria-hidden="true"></i><span class="sr-only">Edit</span></a>';
                        html += '</td>';
                        html += '</li>';
                    }
                    
                    blog.html(html);
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
<main>
    <div class="flex">
        <div class="side-column">
            <div class="box">
                <p><img src="{{ avatar_url }}" style="width:100%"></p>
                <a href="{{ url_for('change_avatar') }}" class="btn btn-outline-info"><i class="fas fa-image" aria-hidden="true"></i> Change Your Picture</a>
            </div>
        </div>
        <div class="main-column">
            <div class="box">
                <h1 class="title">Dashboard</h1>
            </div>
            <div class="box">
                <h3>Bio</h3>
                <p>{{ psyc_info.qualifications }}</p>
                <p><a href="{{ url_for('edit_qualifications') }}" class="btn btn-outline-info"><i class="fas fa-edit"></i> Edit</a></p>
            </div>
            <div class="box">
                <h3>Blog <a class="btn btn-primary" href="{{ url_for('write_blog_post') }}"><i class="fas fa-plus" aria-hidden="true"></i> New</a></h3>
                <div id="blog-pagination" class="pagination"></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="blog-list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>



{% endblock %}
