$mainColor: rgba(255, 203, 5, 1);
$mainAccent: rgba(10, 53, 113, 1);
//Globla Variables
$footerColor: $mainAccent;
$fontColor: #2F2F2F;
$hoverColor: $mainAccent;
//
$navText: white;
//
$hamCircle: white;
//
$mainColorShade: darken($mainColor, 10%);
$navHam: $hoverColor;
//
$cardBackgrounds: #D6D6D6;
