{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<main id="mainHome">
    <div class="box">
       {% if not reviews %}
            <p>No Unapproved Reviews Exist</p>
        {%  else %}
     {% for i in reviews %}
         <p>Unapproved Reviews</p>
         <p>Review ID: {{ i.rev_id }}</p>
         <p>Rating: {{ i.stars }}</p>
         <p>Review Content: {{ i.review }}</p>
         <p>Username of Review: {{ i.user }}</p>
         <p>Email of Review: {{ i.email }}</p>


          <button class="btn-warning btn" onclick="location.href='{{ url_for('reviewapprove',r_id=i.rev_id) }}'" type="button" class="btn btn-success">
                                    Approve Review!
                                </button>
  <button class="btn-warning btn" onclick="location.href='{{ url_for('denied_review', rev_id=i.rev_id, user=i.user, email=i.email) }}'" type="button" class="btn btn-warning">
                                    Deny Review!
  </button>




     {% endfor %}
     {% endif %}
    </div>
    <div class="box">
       {% if not reviews2 %}
            <p>No Approved Reviews Exist</p>
        {%  else %}
     {% for j in reviews2 %}
         <p>Approved Reviews</p>
         <p>Review</p>
        <p><i>{{ j.review }}</i></p>
         <p> {{ j.stars }}</p>
         <p> {{ j.rev_id }}</p>
         <br/>





     {% endfor %}
     {% endif %}
    </div>

</main>
{% endblock %}