{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<main id="mainHome">
    <div class="box">
        <h1 class="title">Adjust Fee</h1>
        <hr>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <th>Lengths</th>
                    <th>Fees</th>
                </tr>
                <tr>
                    <td>{{ form.aLength }}</td>
                    <td>{{ form.aFee }}</td>
                </tr>
                <tr>
                    <td>{{ form.bLength }}</td>
                    <td>{{ form.bFee }}</td>
                </tr>
                <tr>
                    <td>{{ form.cLength }}</td>
                    <td>{{ form.cFee }}</td>
                </tr>
            </table>
            {{ form.submit(class="btn btn-success") }}
        </form>
    </div>

</main>
{% endblock %}