/** {
    background-color: rgba(255, 0, 0, 0.2);
}*/
/**********BEGIN GLOBAL CSS**********/
/*CSS RESET*/
/* line 3, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_base/_reset.scss */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow-x: hidden;
}

/*FONT IMPORT*/
@font-face {
  font-family: roboto;
  src: url(roboto-regular.ttf);
}

/*FONT*/
/* line 11, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_base/_typography.scss */
* {
  font-family: 'roboto';
  color: #2F2F2F;
}

/*TEXT*/
/* line 19, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_base/_typography.scss */
main h1 {
  font-size: 2.4em;
}

/* line 23, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_base/_typography.scss */
main h2 {
  font-size: 2.2em;
}

/* line 27, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_base/_typography.scss */
main h3 {
  font-size: 2em;
}

/* line 31, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_base/_typography.scss */
main h4 {
  font-size: 1.8em;
}

/* line 35, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_base/_typography.scss */
main h5 {
  font-size: 1.6em;
}

/* line 40, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_base/_typography.scss */
main p,
main label,
main input {
  font-size: 1.2em;
}

/* line 47, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_base/_typography.scss */
a {
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* line 54, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_base/_typography.scss */
main a:hover {
  color: #0a3571;
}

/*fixes padding issue;
puts the page at the top of the screen*/
/* line 62, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_base/_typography.scss */
.subPage p:first-child {
  margin: 0;
  padding: 0;
}

/*SCREEN SIZE: WIDE  || SUB-PAGES*/
@media only screen and (min-width: 750px) {
  /* line 4, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_layout/_screenSize.scss */
  main {
    width: 70%;
  }
}

/*SCREEN SIZE: NARROW */
@media only screen and (max-width: 749px) {
  /* line 13, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_layout/_screenSize.scss */
  main {
    width: 90%;
  }
}

/* line 18, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_layout/_screenSize.scss */
main {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*NAV:WIDE SCREEN*/
@media only screen and (min-width: 1001px) {
  /*main nav styling and positioning*/
  /* line 4, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  nav * {
    padding: 0;
    margin: 0;
  }
  /* line 9, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  nav {
    position: relative;
    width: 100%;
    height: 5em;
    background-color: #ffcb05;
    display: block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 1;
  }
  /* line 19, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .nav-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    line-height: 5em;
  }
  /*items styling and positioning*/
  /* line 28, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .nav-wrapper ul {
    height: 100%;
    list-style: none;
    z-index: 2;
  }
  /* line 34, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .nav-wrapper > ul {
    padding-right: 2.5em;
  }
  /* line 38, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .nav-wrapper ul li {
    height: 100%;
    position: relative;
    float: left;
    transition: background-color 0.3s linear;
  }
  /* line 44, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .nav-wrapper ul li:hover {
    background: #d1a600 !important;
  }
  /* line 49, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .logo a:hover,
  .nav-wrapper a.currentPage,
  .nav-wrapper ul li a:hover {
    color: #0a3571 !important;
  }
  /*TEXT*/
  /* line 55, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .nav-wrapper a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0 0.8em;
    font-size: 1.2em;
  }
  /*LOGO*/
  /* line 66, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .logo {
    height: 4em;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
  }
  /* line 75, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .logo > div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
  }
  /* line 81, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .logo > div:nth-child(2) a {
    font-size: 2em;
    text-decoration: none;
  }
  /* line 86, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .logo img {
    height: 4em;
  }
  /* line 89, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .logo img:first-child {
    padding-right: 1em;
  }
  /*MOBILE NAV*/
  /* line 94, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  #resourceDropdown > img,
  #resourceDropdown input,
  .hamburger-menu,
  .nav-close,
  .navHome {
    display: none;
  }
}

/*NAV:NARROW SCREEN*/
@media only screen and (max-width: 1000px) {
  /* line 105, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  nav ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.25s 0s ease-in-out;
    list-style: none;
  }
  /* line 115, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  nav ul a {
    margin-bottom: 1em;
    display: block;
    color: white;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;
  }
  /* line 123, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  nav ul a:hover,
  nav ul a .currentPage {
    color: #ffcb05 !important;
  }
  /* line 131, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  nav * {
    padding: 0;
    margin: 0;
  }
  /* Navigation Menu - Background */
  /* line 137, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .menu {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #061f42, 0 0 0 0 #061f42;
    cursor: pointer;
  }
  /* line 151, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .hamburger {
    position: absolute;
    top: 1.85em;
    left: .75em;
    width: 2.5em;
    height: .2em;
    background: #0a3571;
    display: block;
    transform-origin: center;
    transition: 0.5s ease-in-out;
  }
  /* line 162, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .hamburger:after, .hamburger:before {
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #0a3571;
  }
  /* line 173, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .hamburger:before {
    top: -.7em;
  }
  /* line 177, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .hamburger:after {
    bottom: -.7em;
  }
  /* line 182, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .hamburger-checkbox:checked ~ .nav-close > .menu {
    box-shadow: 0 0 0 150vw #0a3571, 0 0 0 150vh #0a3571;
    border-radius: 0;
  }
  /* line 186, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .hamburger-checkbox:checked ~ .nav-close > .menu .hamburger {
    transform: rotate(45deg);
  }
  /* line 189, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .hamburger-checkbox:checked ~ .nav-close > .menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
  }
  /* line 194, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .hamburger-checkbox:checked ~ .nav-close > .menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
  }
  /* line 202, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .hamburger-checkbox:checked ~ .nav-close > .menu,
  .hamburger-checkbox:checked ~ nav > .nav-wrapper > ul {
    opacity: 1;
  }
  /*following header*/
  /* line 208, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .mobile-nav-spacer {
    height: 4em;
    width: 100%;
  }
  /* line 213, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .fixed-mobile-nav {
    width: 100%;
    height: 4em;
    background-color: #ffcb05;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    transition: 0.5s linear;
  }
  /* line 223, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .fixed-mobile-nav-content {
    position: absolute;
    top: 0;
    height: 4em;
    width: 100%;
    background-color: #ffcb05;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  /*LOGO*/
  /* line 233, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .logo {
    position: fixed;
    left: 0.5em;
    top: 0.25em;
    z-index: 12;
    display: table;
    height: 4em;
    overflow: hidden;
  }
  /* line 243, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .logo > div {
    display: table-cell;
    vertical-align: middle;
    height: 4em;
    padding-left: 1em;
  }
  /* line 249, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .logo > div img:first-child {
    padding-right: 1em;
  }
  /* line 254, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .logo > div:nth-child(2) a {
    font-size: 2em;
    text-decoration: none;
  }
  /* line 259, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .logo > div:nth-child(2) {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    line-height: 4em;
  }
  /* line 267, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
  .logo img {
    height: 3em;
  }
}

/*common*/
/* line 272, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_navigation.scss */
.hamburger-checkbox {
  display: none;
}

/* line 1, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
footer * {
  margin: 0;
  padding: 0;
}

/* line 6, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
.footer-content {
  width: 100%;
  height: 70%;
}

/* line 11, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
.footer-accent {
  width: 100%;
  height: 30%;
  background-color: #061f42;
}

/* line 16, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
.footer-accent p {
  padding-top: .7em;
  text-align: center;
  font-size: 1em;
  color: white;
}

/* line 24, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
.buttons-wrapper {
  position: relative;
  top: 25%;
  height: 50%;
  margin: 0 auto;
}

/* line 31, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
.buttons {
  width: 100%;
  height: 100%;
}

/* line 36, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
.buttons tr td {
  padding: 0 .5em;
  height: 100%;
}

/* line 43, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
.buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  color: white;
  background-color: #0a3571;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

/* line 59, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
.buttons a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* line 63, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
.buttons a div {
  display: inline-block;
}

/* line 68, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
.buttons img {
  height: 1.2em;
  margin-left: .5em;
}

/*SCREEN SIZE: WIDE  || SUB-PAGES*/
@media only screen and (min-width: 750px) {
  /* line 77, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
  .buttons-wrapper {
    width: 50%;
  }
}

/*SCREEN SIZE: NARROW */
@media only screen and (max-width: 749px) {
  /* line 86, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
  .buttons-wrapper {
    width: 100%;
  }
}

/*FOOTER> KEEP AT BOTTOM*/
/* line 94, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
}

/* line 102, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
.content {
  padding-bottom: 8em;
  /* Height of the footer element */
}

/* line 107, /home/brandon/Git/Team1/jasa-psikologi/static/scss/_components/_footer.scss */
footer {
  background: #0a3571;
  width: 100%;
  height: 8em;
  position: absolute;
  bottom: 0;
  left: 0;
}

/**********END GLOBAL CSS**********/
/**********BEGIN HOME**********/
/**********END HOME**********/

/*# sourceMappingURL=../style.map */