$mainColor: rgba(255, 203, 5, 1);
$mainAccent: rgba(15, 14, 159, 1);
//Globla Variables
$footerColor: $mainAccent;
$fontColor: #2F2F2F;
$hoverColor: $mainAccent;
//
$navText: white;
//
$hamCircle: white;
//
$mainColorShade: darken($mainColor, 10%);
$navHam: $hoverColor;
//
$background: #f6f6f6;
$cardBackground: white;
