$hamburger-width: 1.75em;
$hamburger-height: 1.5em;
$hamburger-position: 1.25em;
$hamburger-barheight: .2em;
$hamburger-top: ($hamburger-height - $hamburger-barheight) / 2;
$hamburger-bottom: -($hamburger-height - $hamburger-barheight) / 2;
$hamburger-barColor: $hoverColor;
$hamburger-navColor: $mainColor;


/* Mixins */
@mixin transition($thing) {
  -webkit-transition: $thing;
     -moz-transition: $thing;
       -o-transition: $thing;
          transition: $thing;
}

@mixin animation($thing) {
  -webkit-animation: $thing;
     -moz-animation: $thing;
       -o-animation: $thing;
          animation: $thing;
}

@mixin animation-fill-mode($mode) {
  -webkit-animation-fill-mode: $mode;
          animation-fill-mode: $mode;
}
.hamburger-menu *{
  margin: 0;
  padding: 0;
}
/*menu location*/
.hamburger-menu{
  width: $hamburger-width;
  height: $hamburger-height;
  position: fixed;
  top: $hamburger-position;
  right: $hamburger-position;
}

.hamburger {
  display: inline-block;
  vertical-align: middle;
  width: $hamburger-width;
  height: $hamburger-height;
  position: relative;
  
  /* Burger */
  .burger {
    display: inline-block;
    //vertical-align: middle;
    width: 100%;
    height: $hamburger-barheight;
    background: $hamburger-barColor;
    position: absolute;
    top: ($hamburger-height - $hamburger-barheight) / 2;
    @include transition(all .5s ease-in-out);

    &:before, &:after {
      content: "";
      display: block;
      width: 100%;
      height: $hamburger-barheight;
      background: $hamburger-barColor;
      position: absolute;
      @include transition(all .2s ease-in-out);
    }

    &:before {
      top: $hamburger-top;
      @include animation(outbefore .5s);
      @include animation-fill-mode(forwards);
    }

    &:after {
      top: $hamburger-bottom;
      @include animation(outafter .5s);
      @include animation-fill-mode(forwards);
    }
  }
}

.hamburger-label{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
.hamburger-checkbox{
  /* checked */
  &:checked {
    &~.hamburger-menu{
      &>.hamburger{
        &>.burger {
          background: $hamburger-navColor;

          &:before {
            top: 0;
            @include animation(inbefore .5s);
            @include animation-fill-mode(forwards);
          }

          &:after {
            top: 0;
            @include animation(inafter .5s);
            @include animation-fill-mode(forwards);
          }
        }
      }
    }
  }
}
/* Animations */
@-webkit-keyframes inafter {
  0% { top: $hamburger-top; }
  70% { top: 0; -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(45deg); }
}

@-moz-keyframes inafter {
  0% { top: $hamburger-top; }
  70% { top: 0; -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(45deg); }
}

@-o-keyframes inafter {
  0% { top: $hamburger-top; }
  70% { top: 0; -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(45deg); }
}

@keyframes inafter {
  0% { top: $hamburger-top; }
  70% { top: 0; transform: rotate(0deg); }
  100% { transform: rotate(45deg); }
}

@-webkit-keyframes inbefore {
  0% { top: $hamburger-bottom; }
  70% { top: 0; -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-45deg); }
}

@-moz-keyframes inbefore {
  0% { top: $hamburger-bottom; }
  70% { top: 0; -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(-45deg); }
}

@-o-keyframes inbefore {
  0% { top: $hamburger-bottom; }
  70% { top: 0; -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(-45deg); }
}

@keyframes inbefore {
  0% { top: $hamburger-bottom; }
  70% { top: 0; transform: rotate(0deg); }
  100% { transform: rotate(-45deg); }
}

@-webkit-keyframes outafter {
  0% { top: 0; -webkit-transform: rotate(45deg); }
  70% { top: 0; -webkit-transform: rotate(0deg); }
  100% { top: $hamburger-top; }
}

@-moz-keyframes outafter {
  0% { top: 0; -moz-transform: rotate(45deg); }
  70% { top: 0; -moz-transform: rotate(0deg); }
  100% { top: $hamburger-top; }
}

@-o-keyframes outafter {
  0% { top: 0; -o-transform: rotate(45deg); }
  70% { top: 0; -o-transform: rotate(0deg); }
  100% { top: $hamburger-top; }
}

@keyframes outafter {
  0% { top: 0; transform: rotate(45deg); }
  70% { top: 0; transform: rotate(0deg); }
  100% { top: $hamburger-top; }
}

@-webkit-keyframes outbefore { 
  0% { top: 0; -webkit-transform: rotate(-45deg); }
  70% { top: 0; -webkit-transform: rotate(0deg); }
  100% { top: $hamburger-bottom; }
}

@-moz-keyframes outbefore { 
  0% { top: 0; -moz-transform: rotate(-45deg); }
  70% { top: 0; -moz-transform: rotate(0deg); }
  100% { top: $hamburger-bottom; }
}

@-o-keyframes outbefore { 
  0% { top: 0; -o-transform: rotate(-45deg); }
  70% { top: 0; -o-transform: rotate(0deg); }
  100% { top: $hamburger-bottom; }
}

@keyframes outbefore { 
  0% { top: 0; transform: rotate(-45deg); }
  70% { top: 0; transform: rotate(0deg); }
  100% { top: $hamburger-bottom; }
}