.box{
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  background-color: $cardBackground;
  margin: 1em auto;
  padding: 1em;
  box-sizing: border-box;


  &:hover{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .title{
    text-align: center;
  }
}

.flash{
  @extend .box;
  background-color: rgba(0, 179, 0, .5) !important;
  p{
    margin: 0;
  }
}

.btn{
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

.btn-outline-info:hover,
input:checked + .btn-outline-info{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-success{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.btn-outline-success:hover,
input:checked + .btn-outline-success{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}


.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
}
}




@mixin input-mixin {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
}

input[type=text],
input[type=password],
input[type=datetime-local],
input[type=date],
select{
  @include input-mixin;
}


.select{
  display: inline-block !important;
  position: relative;

  select:not([multiple]) {
    padding-right: 2.5em;
  }

  &:after {
    border: 1px solid #3273dc;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
    z-index: 4;
  }
}

.input-box {
  @include input-mixin;
}

input.noborder {
  border: 0px none transparent;
  padding: 0px;
  box-shadow: 0px 0px 0px transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
  border-radius: 0;
}


input[type=submit]:disabled,
button:disabled {
  background-color: #777;
  border-color: #000;
  color: #000;
  cursor: auto;
}

.input-icon {
  display: inline-block;
  margin-right: 8px;
  font-size: 82%;
}

img.avatar {
    display: block;
    margin: 6px;
    padding: 3px;
    width: 128px;
    height: 128px;
    border: 1px solid #999;
}

.psyc-info{
  width: calc(100% - 148px);
}

#psyc-page{
  .box:first-child{
    display: flex;
  }
}

/* Columns */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.side-column {
    margin: 0 0.5em;
    flex: 1;
}

.main-column {
    margin: 0 0.5em;
    flex: 1.615;
}

.flex-one {
    flex: 1;
}

@media only screen and (max-width: 400) {
    .side-column {
        width: 100%;
    }
    
    .main-column {
        width: 100%;
    }
    
    .flex-one {
        width: 100%;
    }
}
