{% extends 'flask_user/member_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<main>
    <div class="box">
        <h1 class="title">{%trans%}Change password{%endtrans%}</h1>
        <hr>

        <form action="" method="POST" class="form" role="form">
            {{ form.hidden_tag() }}
            <div class="form-control-1">
                {{ render_field(form.old_password, tabindex=10) }}
            </div>
            <div class="form-control-2">
                {{ render_field(form.new_password, tabindex=20) }}
            </div>
            <div class="form-control-2">
                {% if user_manager.enable_retype_password %}
                    {{ render_field(form.retype_password, tabindex=30) }}
                {% endif %}
            </div>
            <div class="form-control-2">
                {{ render_submit_field(form.submit, tabindex=90) }}
            </div>
        </form>
    </div>
</main>
{% endblock %}