{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <script>
    function validateForm() {
    var x = document.forms["myForm"]["question"].value;
    if (x == "" || x.length > 45) {
        alert("Question size needs to be between 1 and 45!");
        return false;
    }
}

    </script>
<main id="mainHome">
    <h1>Add A Question</h1>

    <body>


<form method="post" name="myForm" action="/post_add_questions" onsubmit="return validateForm()">
    <label>question Title</label>
    <input id ="question" name = "question" type="text"  />
    <input type="submit"  />

</form>

    </body>

</main>

{% endblock %}