{% extends "base.html" %}
{% block title %}Add Availability{% endblock %}
{% block content %}
<main id="edit">
    <div class="box">
        <h1 class="title">Add Availability Time</h1>
        <hr>
        <form action="{{ url_for('add_availability') }}" method="post">
            <div class="form-control-1">
                <label for="time_st">Start Time</label><br />
                <input type="time" required="required" name="time_st" />
            </div>
            <div class="form-control-2">
                <label for="time_st">End Time</label><br />
                <input type="time" required="required" name="time_end" />
            </div>
            <div class="form-control-2">
                <label for="weekday">Weekday</label><br />
                <select name="weekday" required="required">
                    <option value="su">Minggu</option>
                    <option value="m" selected="selected">Senin</option>
                    <option value="t">Selasa</option>
                    <option value="w">Rabu</option>
                    <option value="th">Kamis</option>
                    <option value="f">Jumat</option>
                    <option value="s">Sabtu</option>
                </select>
            </div>
            <div class="form-control-2">
                <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Add Availability Time</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
