<!DOCTYPE html>
<html lang="en">
<head>
    {% block head -%}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Passion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ url_for('static', filename='contents/fav/apple-touch-icon-57x57.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='contents/fav/apple-touch-icon-114x114.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='contents/fav/apple-touch-icon-72x72.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='contents/fav/apple-touch-icon-144x144.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ url_for('static', filename='contents/fav/apple-touch-icon-60x60.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ url_for('static', filename='contents/fav/apple-touch-icon-120x120.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ url_for('static', filename='contents/fav/apple-touch-icon-76x76.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ url_for('static', filename='contents/fav/apple-touch-icon-152x152.png') }}" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='contents/fav/favicon-196x196.png') }}" sizes="196x196" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='contents/fav/favicon-96x96.png') }}" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='contents/fav/favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='contents/fav/favicon-16x16.png') }}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='contents/fav/favicon-128.png') }}" sizes="128x128" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='scripts/common.js')}}" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    {% endblock %}
</head>
<body>
    <input class="hamburger-checkbox" id="hamburger-checkbox" type="checkbox">
    <div class="wrapper">
        <header>
            <nav>
                <div class="logo" aria-hidden="true">
                    <div>
                        <a href="{{ url_for('index') }}"><img alt="logo" src="{{ url_for('static', filename='contents/p.png') }}"/><img alt="logo" src="{{ url_for('static', filename='contents/passion.png') }}"/></a>
                    </div>
                </div>
                <div class="nav-wrapper">
                    <ul>
                        <li>
                            <a href="{{ url_for('index') }}">HOME</a>
                        </li>
                        {% if current_user.is_authenticated %}
                            <li>
                                <a target="_blank" href="{{ url_for('videoConf') }}">VIDEOCONF</a>
                            </li>
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.is_in_role("user") %}
                            <li>
                                <a href="{{ url_for('parent') }}">PARENTS</a>
                            </li>
                        {% endif %}
                        {% if not current_user.is_authenticated or (current_user.is_authenticated and not current_user.is_in_role("psyc")) %}
                        <li>
                            <a href="{{ url_for('psikolog') }}">PSYCHOLOGISTS</a>
                        </li>
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.is_in_role("psyc") %}
                            <li>
                                <a href="{{ url_for('psikolog_dashboard') }}">DASHBOARD</a>
                            </li>
                            <li>
                                <a href="{{ url_for('psikolog_appointments') }}">APPOINTMENTS</a>
                            </li>
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.is_in_role("admin") %}
                            <li>
                                <a href="{{ url_for('adminPortal') }}">ADMIN</a>
                            </li>
                            <!--
                            <li>
                                <a href="{{ url_for('questions') }}">QUESTIONS</a>
                            </li>
                            -->
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.is_in_role("staff") %}
                            <li>
                                <a href="{{ url_for('approvePayments') }}">OFFICE</a>
                            </li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <li>
                                <a href="{{ url_for('user.profile') }}">WELCOME: {{ current_user.first_name.upper() }}</a>
                                <ul class="subNav">
                                    <li>
                                        <a href="{{ url_for('user.logout') }}">LOG OUT</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <input type="checkbox" id="notif-checkbox">
                                <img src="{{ url_for('static', filename='contents/icons/bell.svg') }}">
                                <ul class="subNav" id="notif-subNav">
                                    <li id="notifs">

                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ url_for('user.login') }}">LOG IN</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>


            <label for="hamburger-checkbox" class="nav-close">
                <span class='menu'>
                    <span class='hamburger'></span>
                </span>
            </label>
        </header>
        <div class="fixed-mobile-nav"></div>


        <div class="mobile-nav-spacer"></div>
        <div class="content">
            {% with messages = get_flashed_messages() %}
                 {% if messages %}
                    <div class="flash">
                       {% for message in messages %}
                           <p class="title">{{ message|safe }}</p>
                       {% endfor %}
                    </div>
                 {% endif %}
              {% endwith %}
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div class="footer-content">

            </div>
            <div class="footer-accent">
                <p>&copy; <span id="year"></span> by Passion Konsultan.</p>
            </div>
        </footer>
    </div>

    <script>
        $(document).ready(function () {

            $.ajax({
                type : "POST",
                url : "{{ url_for('notification') }}",
                contentType: 'application/json;charset=UTF-8',
                success: function(result) {
                    alert(JSON.stringify(result))

                    for (var i = 0; i < result.notifs.length; i++){
                        $('#notifs').append(
                            "<div>"+
                                "<p>"+
                                    result.notifs[i] +
                                "</p>"+
                            "</div>"
                        );
                    }
                },
                error: function(error) {
                    alert(JSON.stringify(error));
                }
            });

        })
    </script>
</body>
</html>
