{% extends "base.html" %}
{% block title %}Child Information{% endblock %}
{% block content %}
    <main>
        <div class="box">
            <h1 class="title">Child Information</h1>
            <hr>
            <form method="post">
                First name: {{ child_info.child_nm_fst }}<br>
                Last name: {{ child_info.child_nm_lst }}<br>
                Age: {{ child_age }}<br>
                <!--
                <button type="submit">
                    Schedule Consultation
                </button>
                -->
                <br>
                <br>

                <input type="button" style="background-color:red; color: white;  padding: 15px 19px;" onclick="location.href='{{ url_for('questionsUserView', child_id=child_info.child_id, child_name=child_info.child_nm_fst) }}';" value="Questionnaire Needs Completed!" />



            </form>
        </div>
    </main>

{% endblock %}