{% extends "base.html" %}
{% block title %}Child Registration Form{% endblock %}
{% block content %}
    <main>
        <div class="box">
            <h1 class="title">Child Registration Form</h1>
            <hr>
            <form method="post">
                <div class="form-control-1">
                    First name:<br>
                    <input type="text" name="firstname" required>
                </div>
                <div class="form-control-2">
                    Last name:<br>
                    <input type="text" name="lastname">
                </div>
                <div class="form-control-2">
                    Date of Birth:<br>
                    <input type="date" name="dateofbirth" required>
                </div>
                <div class="form-control-2">
                    <button type="submit" class="btn btn-success">Add Child</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}