{% extends "base.html" %}
{% block title %}Contact Info{% endblock %}
{% block content %}
<main>
    <div class="box">
        <h1 class="title">Contact Information</h1>
        <hr>
        <form action="" method="POST">
            Phone Number:<br>
            <input type="text" name="phone_no" required><br>
            Address 1:<br>
            <input type="text" name="address_1" required><br>
            Address 2:<br>
            <input type="text" name="address_2"><br>
            City:<br>
            <input type="text" name="city" required><br>
            Providence:<br>
            <input type="text" name="providence"><br>
            Zip:<br>
            <input type="text" name="zip"><br>
            <button type="submit" onclick="location.href='/parent'">Submit Changes</button>
        </form>
    </div>
</main>
{% endblock %}