{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block content %}
<main id="edit">
    <div class="box">
        <h1 class="title">Choose new role</h1>
        <hr>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-control-1">
                {{ form.role.label }}
                {{ form.role(size=1) }}
            </div>
            <div class="form-control-2">
                {{ form.submit() }}
            </div>
        </form>
    </div>
</main>
{% endblock %}