{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="/static/scripts/pagination.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var blog = $('#blog');
            
            $('#pagination').pagination({
                dataSource: '/api/blog/all',
                locator: 'posts',
                pageSize: 3,
                totalNumberLocator: function(response) {
                    return response.total;
                },
                alias: {
                    pageNumber: 'page_num',
                    pageSize: 'page_size'
                },
                callback: function(data, pagination) {
                    var html = '';
                    
                    for (var i = 0; i < data.length; i++) {
                        var post = data[i];
                        
                        html += '<article>';
                        html += '<h3>' + post.subject + '</h3>';
                        html += '<p class="blog-date">posted ' + post.date_posted + '</p>';
                        html += '<p>' + post.text + '</p>';
                        html += '</article>';
                    }
                    
                    blog.html(html);
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
<main id="mainHome">

    <div class="box">
        <h2>"Anda juga dapat menikmati layanan kami dan mendapatkan manfaat seperti klien-klien kami! "</h2>
    </div>
    <!--
    <div class="box">
        <h2 class="title">Services</h2>
        <h5>Layanan kami mencakup di bidang Industri organisasi, klinis anak, dan pendidikan.</h5>
        <hr>
        <h4>Di bidang Industri organisasi</h4>
        <p>Kami melayani rekrutmen dan seleksi, promosi karyawan.</p>
        <h4>Di bidang Pendidikan</h4>
        <p>Kami melayani tes bakat minat, tes inteligensi, seminar, tes kesiapan masuk sekolah.</p>
        <h4>Di Bidang Klinis Anak</h4>
        <p>Kami melayani terapi anak berkebutuhan khusus, terapi anak yang mengalami masalah, konseling, training untuk anak.</p>
    </div>
    -->
    
    <div class="box">
        <div id="pagination" class="pagination">
        </div>
        <div id="blog" class="blog">
            {#
            <article>
                <h3>{{ post['title'] }}</h3>
                <p class="blog-date">posted {{ post['date_posted'] }} by <a href="{{ url_for('psikolog', id=post['psyc_id']) }}">{{ post['author'] }}</a></p>
                <p>{{ post['contents'] }}</p>
            </article>
            #}
        </div>
    </div>
</main>

{% endblock %}
