{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<main id="mainHome">

    <div class="box">
        <h2>"Anda juga dapat menikmati layanan kami dan mendapatkan manfaat seperti klien-klien kami! "</h2>
    </div>
    <!--
    <div class="box">
        <h2 class="title">Services</h2>
        <h5>Layanan kami mencakup di bidang Industri organisasi, klinis anak, dan pendidikan.</h5>
        <hr>
        <h4>Di bidang Industri organisasi</h4>
        <p>Kami melayani rekrutmen dan seleksi, promosi karyawan.</p>
        <h4>Di bidang Pendidikan</h4>
        <p>Kami melayani tes bakat minat, tes inteligensi, seminar, tes kesiapan masuk sekolah.</p>
        <h4>Di Bidang Klinis Anak</h4>
        <p>Kami melayani terapi anak berkebutuhan khusus, terapi anak yang mengalami masalah, konseling, training untuk anak.</p>
    </div>
    -->
    
    <div class="box">
        <ul class="pagination">
            {% if page_num > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('index', page_num=page_num - 1) }}">Previous Page</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous Page</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('index', page_num=page_num + 1) }}">Next Page</a>
            </li>
        </ul>
        <div class="blog">
            {% for post in blog_posts %}
                <article>
                    <h3>{{ post['title'] }}</h3>
                    <p class="blog-date">posted {{ post['date_posted'] }} by <a href="{{ url_for('psikolog', id=post['psyc_id']) }}">{{ post['author'] }}</a></p>
                    <p>{{ post['contents'] }}</p>
                </article>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}
