{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <main>
        <div class="box">
            <h1>Your Answers</h1>
            <hr>
         {% for i in questions %}

            {{ i.question}}
             {% for j in answers %}
                 {{ j.q }}
                 {{ i.q_id }}
                 {% if j.q == i.q_id %}
                 {{ j.answer }}
                 {% endif %}
             {% endfor %}
            <br>
        {% endfor %}

        </div>

    </main>

{% endblock %}