{% extends "base.html" %}
{% block title %}Parent Profile{% endblock %}
{% block content %}
<main>
    <div class="box">
        <h1 class="title">{{ user }}</h1>
        <hr>


        <p>
        {% if(contact_info.phone_no != None) %}
            Phone Number: {{ contact_info.phone_no }}<br>
        {% endif %}


        {% if(contact_info.address_1 != None) %}
            Address 1: {{ contact_info.address_1 }}<br>
        {% endif %}


        {% if(contact_info.address_2 != null) %}
            Address 2: {{ contact_info.address_2 }}<br>
        {% endif %}


        {% if(contact_info) %}
        City: {{ contact_info.city }}<br>
        {% endif %}

        {% if(contact_info.providence != None) %}
            Providence: {{ contact_info.providence }}<br>
        {% endif %}


        {% if(contact_info.zip != None) %}
            Zip: {{ contact_info.zip }}<br>
        {% endif %}



        <form action="/parent/contact">
            <button type="submit">
                Update Contact Information
            </button>
        </form>
        </p>

        <hr>

        <p>
        <form action="/childform">
            <button type="submit">
                Add Child
            </button>
        </form>
        </p>


        </p>


        <ul class="list-group">
            {% for child in children %}
                <li class="list-group-item"><a href="{{ url_for('child', child_id=child.child_id) }}">{{ child.child_nm_fst }}</a></li>
                <br>
          <a href="{{ url_for('parent_seeanswers', child_id=child.child_id) }}">View Question Answers</a>
                <br>
                <br>
            {% endfor %}
        </ul>
    </div>
</main>



{% endblock %}