{% extends "base.html" %}
{% block title %}Parent Profile{% endblock %}
{% block content %}
<main>
    <div class="box">
        <h1 class="title">{{ user }}</h1>
        <hr>

        <!--this part is fucked rn -->
        <p>
            Phone Number: {{ contact_info.phone_no }}<br>

            Address 1: {{ contact_info.address_1 }}<br>

            {% if(contact_info.address_2) %}
                Address 2: {{ contact_info.address_2 }}<br>
            {% endif %}

            City: {{ contact_info.city }}<br>

            {% if(contact_info.providence) %}
                Province: {{ contact_info.providence }}<br>
            {% endif %}

            {% if(contact_info.zip) %}
                Zip: {{ contact_info.zip }}<br>
            {% endif %}



            <form action="/parent/contact">
                <button type="submit">
                    Update Contact Information
                </button>
            </form>
        </p>

    </div>

    <div class="box">
        <p>
        <form action="/childform">
            <button type="submit">
                Add Child
            </button>
        </form>
        </p>



        <ul class="list-group">
            {% for child in children %}
                <li class="list-group-item"><a href="{{ url_for('child', child_id=child.child_id) }}">{{ child.child_nm_fst }}</a></li>
                <br>
                <a href="{{ url_for('parent_seeanswers', child_id=child.child_id) }}">View Question Answers</a>
                <br>
                <br>
                <a href="{{ url_for('consultation', child_id=child.child_id) }}">Schedule Consultation</a>
            {% endfor %}
        </ul>
    </div>
</main>



{% endblock %}