{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <main>
        <div class="box">
            <h1>Your Answers</h1>
            <hr>
         {% for i in questions %}

             <p><b>Question:  {{ i.question}}</b></p>
             <br>
             {% if answers[loop.index0] != None %}
                 <p>Your Answer: {{ answers[loop.index0] }} </p>
                 <br>
             {% endif %}

        {% endfor %}

        </div>

    </main>

{% endblock %}