{% extends "base.html" %}
{% block title %}{{ psyc_info.full_name }}{% endblock %}
{% block content %}
<main id="psyc-page">
    <div class="box">
        <div class="psyc-summary">
            <img src="{{ psyc_info.photo }}" alt="[photograph of {{ psyc_info.full_name }}]" style="float:right" />
            <h2>{{ psyc_info.full_name }}</h2>
            <p class="psyc-qualifications">{{ psyc_info.qualifications }}</p>
        </div>
    </div>
    <div class="box">
        <div class="calendar" style="background-color: white; height: 5in; border: 1px solid #000033">
            Calendar will go here
        </div>
    </div>
    <div class="box">
        <div class="blog">
            <article style="padding: 0.25in; border-top: 1px solid black;">
                <h3>Example blog post</h3>
                <p class="blog-date" style="float: right; font-style: italic;">9 Aug 2011</p>
                <p style="clear: both;">I am not pulled from the database</p>
            </article>
            <article style="padding: 0.25in; border-top: 1px solid black;">
                <h3>Example blog post</h3>
                <p class="blog-date" style="float: right; font-style: italic;">9 Aug 2011</p>
                <p style="clear: both;">I am not pulled from the database</p>
            </article>
            <article style="padding: 0.25in; border-top: 1px solid black;">
                <h3>Example blog post</h3>
                <p class="blog-date" style="float: right; font-style: italic;">9 Aug 2011</p>
                <p style="clear: both;">I am not pulled from the database</p>
            </article>
        </div>
    </div>
</main>
{% endblock %}