<!-- put these at top otherwise it doesn't show year for some reason-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{{ url_for('static', filename='scripts/question.js') }}" type="text/jscript"></script>

{% extends "base.html" %}
{% block title %}Questions{% endblock %}
{% block content %}
    <script>
     $(document).ready(function () {

            $("#next").click(function () {
                $.ajax({
                    url: "./?page={{ page + 1 }}", success: function (result) {
                        $("body").html(result);
                    }
                });
            });
        });
        $(document).ready(function () {
            $("#prev").click(function () {
                $.ajax({
                    url: "./?page={{ page - 1 }}", success: function (result) {
                        $("body").html(result);
                    }
                });
            });
        });
    </script>
    <main>
        <div class="box" id="box">
            <h1 class="title">Question List</h1>
            <hr>
            {% if current_user.is_authenticated and current_user.is_in_role("admin") %}
                <form action="{{ url_for('add_questions') }}">
                    <button class="btn btn-success"><i class="fa fa-plus"></i> Add Question</button>
                </form>
            {% endif %}
            {% if not questions %}
            <p>No Questions Exist</p>
            {%  else %}

            {% for u in questions %}
                <!-- question list -->
                <div class="question">
                    <form name="myForm" action="/action_page.php"
                          onsubmit="return validateForm()" method="post">
                        <p id="questiontitle"><b><u>{{ u.question }}</u></b></p>
                        <input type="text" id="q" name="fname" class="stored" disabled>
                    </form>

                    <!--DROPDOWN CONTENT YOU CAN TEST ADMIN HERE!!! -->
                    <div class="dropdown">
                        {% if current_user.is_authenticated and current_user.is_in_role("admin") %}
                            <span onclick="dropItDown()"><i class="fa fa-bars"
                                                            style=" visibility:hidden"></i></span>
                        {% endif %}
                        <br>
                        <div class="dropdown-content">
                            <button class="btn btn-warning" type="button"
                                    onclick="location.href='{{ url_for('editQuestion', q_id=u.q_id) }}'"><i
                                    class="fa fa-edit"></i> Edit
                            </button>
                            <br><br>
                            {% if u.void_ind == 'y' %}
                                <button class="btn btn-warning" type="button"
                                        onclick="location.href='{{ url_for('questionreactivate', q_id=u.q_id) }}'"><i
                                        class="fa fa-close"></i> Reactivate
                                </button>
                            {% else %}
                                <button class="btn btn-warning" type="button"
                                        onclick="location.href='{{ url_for('questiondeactivate', q_id=u.q_id) }}'"><i
                                        class="fa fa-close"></i> Deactivate
                                </button>
                            {% endif %}
                            <br><br>
                            <button class="btn btn-danger" type="button"
                                    onclick="location.href='{{ url_for('questionDelete', q_id=u.q_id) }}'"><i
                                    class="fa fa-trash"></i> Delete
                            </button>
                            <br>
                            <br>
                        </div>
                    </div>
                    <!-- END -->
                    <span id="error" style="color:red"></span>
                    <!-- END QUESTION -->
                </div>
                <br>
            {% endfor %}
            <br>
            <br>
            {% if page > 1 %}

                <a id="previous" class="btn btn-warning" style="text-decoration: none;" href="./?page={{ page - 1 }}">Previous</a>
            {% endif %}
            {% if pagination.get_page_count() > page %}
                 <a id="next" class="next" style="font-size:30px;" href="./?page={{ page + 1 }}">Next</a>
                <a id="next" class="btn btn-success" style="text-decoration: none;" href="./?page={{ page + 1 }}">Next</a>
            {% endif %}
         {% endif %}
        </div>
    </main>
{% endblock %}
