<!-- put these at top otherwise it doesn't show year for some reason-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{{ url_for('static', filename='scripts/question.js') }}" type="text/jscript"></script>
{% extends "base.html" %}
{% block title %}Questions{% endblock %}
{% block content %}
    <main>
        <div class="box">
            <h1 class="title">Question List</h1>
            <hr>
            {% if current_user.is_authenticated and current_user.is_in_role("admin") %}
                <form action="{{ url_for('add_questions') }}">
                    <button class="add"><i class="fa fa-plus"></i> Add Question</button>
                </form>
            {% endif %}
        <form method="post" action="/post_add_questionAnswers" onsubmit="return validateForm()">
            {% for u in questions %}
                <!-- question list -->
                {% if u.void_ind == 'y' and current_user.is_authenticated and current_user.is_in_role("admin") %}
                    <div class="question">
                {% elif u.void_ind == 'y' and current_user.is_authenticated and current_user.is_in_role("user") %}
                    <div class="question" style="display:none; ">
                {% else %}
                    <div class="question">
                {% endif %}

                <p id="questiontitle"><b>{{ u.question }}</b></p>
                <input type="text" name="fname">

            <br>
            <!--Dropdown not needed for user view -->
            <!--
            <div class="dropdown">
          //      {% if current_user.is_authenticated and current_user.is_in_role("admin") %}
                    <span onclick="dropItDown()"><i class="fa fa-bars" style="width:500px; visibility:hidden"></i></span>
                <div class="dropdown-content">
                    <button class="edit" type="button" onclick="location.href='
                {{ url_for('editQuestion', q_id=u.q_id) }}'"><i class="fa fa-pencil"></i>Edit Question</button>
                    <br><br>
                    {% if u.void_ind == 'y' %}
                        <button class="deactivate" type="button" onclick="location.href='
                    {{ url_for('questionreactivate', q_id=u.q_id) }}'"><i class="fa fa-close"></i>Reactivate</button>
                   {% else %}
                        <button class="deactivate" type="button" onclick="location.href='
                    {{ url_for('questiondeactivate', q_id=u.q_id) }}'"><i class="fa fa-close"></i>Deactivate</button>
                    {% endif %}
                    <br><br>
                <button class="delete" type="button" onclick="location.href='
                {{ url_for('questionDelete', q_id=u.q_id) }}'"><i class="fa fa-trash"></i>Delete Question</button>
                </div>
                <!-- END -->
                -->
            {% endif %}
            </div>
            <span id="error" style="color:red"></span>
            <!-- END QUESTION -->
            </div>
                <br>
            {% endfor %}
            <br>
            <br>
        <!--Only show submit button if last page  -->


                <input type="submit" value="Submit" onsubmit="return validateForm()">
            </form>

                {% if page > 1 %}
    <a class="previous" style="font-size:30px;" href="./?page={{ page - 1 }}">Previous</a>
{% endif %}
{% if pagination.get_page_count() > page %}

    <a class="next" style="font-size:30px;" href="./?page={{ page + 1 }}">Next</a>
{% endif %}
            </div>
        </div>
    </main>
{% endblock %}
