<!-- put these at top otherwise it doesn't show year for some reason-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{{ url_for('static', filename='scripts/question.js') }}" type="text/jscript"></script>

{% extends "base.html" %}
{% block title %}Questions{% endblock %}
{% block content %}
 <script>

$(document).ready(function(){
    $("#next").click(function(){
        $.ajax({url: "./?page={{ page + 1 }}", success: function(result){
            $("body").html(result);
        }});
    });
});
$(document).ready(function(){
    $("#prev").click(function(){
        $.ajax({url: "./?page={{ page - 1 }}", success: function(result){
            $("body").html(result);
        }});
    });
});

 function validateFormMultiple() {
var x = document.getElementsByName('fname');
		for (i=0; i<x.length; i++)
			{
			 if (x[i].value == "")
				{
			 	 alert('All fields must be filled');
			 	 return false;
				}

			}
  }
  function progress() {
    var x = document.getElementById('progress');
    x.value = {{  ((100/pagination.get_page_count()) *(page - 1)) |round|int }};
}
 function keepChildName() {
    var x = document.getElementById('childName');

    x.value = {{  ((100/pagination.get_page_count()) *(page - 1)) |round|int }};
}

window.onload = progress;

</script>

    <main>

        <div id = "box" class="box">

        <p id="childName">Your Child: {{ child_name }}</p>
    <progress id ="progress" value=" ((100/pagination.get_page_count()) *(page - 1)) |round|int }}" max="100"> </progress>
              <p> Progress: {{  ((100/pagination.get_page_count()) *(page - 1)) |round|int }} % </p>
            <h1 class="title">Question List</h1>
            <hr>
        <form method="post" action="/post_add_questionAnswers" name="myForm" onsubmit="return validateFormMultiple()" onload="pagination()">
         <input type="hidden" name="cField" value="{{ child_id }}")>
            {% for u in questions %}
                <!-- question list -->

             {% if page > 1 %}


            {% endif %}
               <div class="question">

                <p id="questiontitle"><b><u>{{ u.question }}</u></b></p>
                    <!-- Brody code -->
                   {% if answers[loop.index0] != None or '' %}
                        <input type="text" name="fname" value="{{ answers[loop.index0] }}")>
                   {% else %}
                        <input type="text" name="fname")>
                   {% endif %}
                    <!-- end Brody Code -->
                <input type="hidden" name="qField" value="{{ u.q_id }}")>

            <br>

            <span id="error" style="color:red"></span>
            <!-- END QUESTION -->
            </div>
                <br>
            {% endfor %}
            <br>
            <br>

            {% if page > 1 %}
                <a class="previous" style="font-size:30px;" href="./?page={{ page - 1 }}">Previous</a>
            {% endif %}
            {% if pagination.get_page_count() > page %}
                 <a class="next" style="font-size:30px;" href="./?page={{ page + 1 }}">Next</a>
            {% endif %}
        <!--Only show submit button if last page  -->
            {% if pagination.get_page_count() == page %}
                <br>
                <br>
                <input type="submit" value="Submit Answers" onsubmit="return validateFormMultiple()">
            {% else %}
                <br>
                <br>
                <input type="submit" value="Save Answers" onsubmit="return validateFormMultiple()">
            {% endif %}

        </form>
        </div>
    </main>
{% endblock %}
