<!-- put these at top otherwise it doesn't show year for some reason-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{{ url_for('static', filename='scripts/question.js') }}" type="text/jscript"></script>

{% extends "base.html" %}
{% block title %}Questions{% endblock %}
{% block content %}
 <script>

$(document).ready(function(){
    $("#next").click(function(){
        $.ajax({url: "./?page={{ page + 1 }}", success: function(result){
            $("body").html(result);
        }});
    });
});
$(document).ready(function(){
    $("#prev").click(function(){
        $.ajax({url: "./?page={{ page - 1 }}", success: function(result){
            $("body").html(result);
        }});
    });
});


</script>

    <main>

        <div id = "box" class="box">
        <p>Your Child: {{ child_name }}</p>

            <h1 class="title">Question List</h1>
            <hr>
        <form method="post" action="/post_add_questionAnswers" name="myForm">
         <input type="hidden" name="cField" value="{{ child_id }}")>
            {% for u in questions %}
                <!-- question list -->
               <div class="question">

                <p id="questiontitle"><b><u>{{ u.question }}</u></b></p>
                <input type="text" name="fname")>
                <input type="hidden" name="qField" value="{{ u.q_id }}")>

            <br>

            <span id="error" style="color:red"></span>
            <!-- END QUESTION -->
            </div>
                <br>
            {% endfor %}
            <br>
            <br>
        <!--Only show submit button if last page  -->

                <input type="submit" value="Submit" onclick="return validateForm()">
            </form>
            {% if page > 1 %}
                <a class="previous" style="font-size:30px;" href="./?page={{ page - 1 }}">Previous Link</a>
                <button id="prev" style="width:100px;height:70px">Prev Button</button>
{% endif %}
{% if pagination.get_page_count() > page %}

    <button id="next" style="width:100px;height:70px">Next Button</button>
     <a class="next" style="font-size:30px;" href="./?page={{ page + 1 }}">Next Link</a>
{% endif %}
        </div>
    </main>
{% endblock %}
