{% extends "base.html" %}

{% import "psikolog/calendar.html" as calendar %}

{% block title %}Schedule an Appointment{% endblock %}

{% block head %}
{{ super() }}
{{ calendar.script_tag() }}
{% endblock %}

{% block content %}
<main id="schedule-page">
    <div class="box">
        <h2>Schedule an Appointment</h2>
        
        <select id="psyc-select">
            <option value="all" selected="selected">-- All Psychologists --</option>
        {%- for pn in psyc_names %}
            <option value="{{ pn.psyc_id }}">{{ pn.first_name }} {{ pn.last_name }}</option>
        {%- endfor %}
        </select>
        
        {{ calendar.calendar("calendar") }}


        <div id="schedule-appt">

        </div>
        
        <script type="text/javascript">
            var allAvails = {{ avails|tojson|safe }};
            
            function filterByPsyc(cal) {
                $('#schedule-appt').empty();
                $('#schedule-appt').css('display', 'none');

                var psyc = $("#psyc-select").val();
                
                if (psyc == "all") {
                    cal.setAvailabilities(allAvails);
                    cal.refresh();
                } else {
                    psyc_id = parseInt(psyc);
                    var avails = [];
                    for (var i = 0; i < allAvails.length; i++) {
                        if (allAvails[i]["psyc_id"] == psyc_id) {
                            avails[avails.length] = allAvails[i];
                        }
                    }
                    cal.setAvailabilities(avails);
                    cal.refresh();
                }
            }
            
            $(document).ready(function() {
                var cal = new calendarModule.Calendar("#calendar");
                cal.setup();
                filterByPsyc(cal);
                
                $("#psyc-select").on("change", function() {
                    filterByPsyc(cal);
                });
                
                $("#calendar").find(".cal-day").on("click", function() {
                    var dateString = $(this).attr("data-day");
                    var weekdayString = $(this).attr("data-weekday");
                    if (dateString != undefined) {
                        var parts = dateString.split("-");
                        var year = parseInt(parts[0]);
                        var month = parseInt(parts[1]);
                        var day = parseInt(parts[2]);
                        var weekday = parseInt(weekdayString);


                        var psycs_day = [];
                        for (var i = 0; i < allAvails.length; i++) {
                            if (allAvails[i]["weekday"] == weekday) {
                                psycs_day.push(allAvails[i]);
                            }
                        }

                        var psyc = $("#psyc-select").val();
                        var psycs = {{ psyc_names|tojson|safe }};
                        var len_fee = {{ len_fee|tojson|safe }};
                        var len_fee_str = "";
                        for(var k = 0; k < len_fee.length; k++){
                            len_fee_str += "<input type=\"radio\" name=\"length\" id=\"" + len_fee[k][0] + "hr\" value=\"" + len_fee[k][1] + "\" required>" +
                                           "<label> Length: " + len_fee[k][1] + "hr Fee: " + len_fee[k][2] + "</label>"
                        }

                        $('#schedule-appt').empty();

                        for(var i = 0; i < psycs_day.length; i++){
                            for(var j = 0; j < psycs.length; j++) {
                                var k = i.toString() + j.toString();
                                if(psycs_day[i]["psyc_id"] == psycs[j]["psyc_id"] && psyc == "all"){

                                    $('#schedule-appt').append(
                                            "<div id=\"" + k + "\">" +
                                                "<input type=\"hidden\" id=\"psyc-id\" value=\"" + psycs_day[i]["psyc_id"] + "\">" +
                                                "<input type=\"hidden\" id=\"day\" value=\"" + day + "\">" +
                                                "<input type=\"hidden\" id=\"month\" value=\"" + month + "\">" +
                                                "<input type=\"hidden\" id=\"year\" value=\"" + year + "\">" +
                                                psycs[j]["first_name"] + " " + psycs[j]["last_name"] +
                                                "<p>Start:</p>" + psycs_day[i]["time_st"]["hour"] + ":" + psycs_day[i]["time_st"]["minute"] +
                                                "<p>End</p>" + psycs_day[i]["time_end"]["hour"] + ":" + psycs_day[i]["time_end"]["minute"] +
                                                "<label for=\"" + psycs_day[i]["psyc_id"] + "" + psycs_day[i]["time_st"]["hour"] + "\"> Book </label>" +
                                                "<input type=\"radio\" name=\"book\" id=\"" + psycs_day[i]["psyc_id"] + "" + psycs_day[i]["time_st"]["hour"] +"\">" +
                                                "<div id=\"book-dtls\">" +
                                                    "<label for=\"time-st\">Start Time</label>" +
                                                    "<input id=\"time-st\" type=\"number\" max=\"" + psycs_day[i]["time_end"]["hour"] + "\" min=\"" + psycs_day[i]["time_st"]["hour"] + "\" value=\"" + psycs_day[i]["time_st"]["hour"] +"\" step=\"1\">" +
                                                    "<input id=\"time-st-mn\" type=\"number\" min=\"0\" max=\"30\" step=\"30\" value=\"0\">" +
                                                    "<input type=\"hidden\" id=\"time-end-hr\" value=\"" + psycs_day[i]["time_end"]["hour"] + "\">" +
                                                    "<input type=\"hidden\" id=\"time-end-mn\" value=\"" + psycs_day[i]["time_end"]["minute"] + "\">" +
                                                    len_fee_str +
                                                    "<input type=\"button\" value=\"Confirm\" onclick=\"confirm('" + k + "')\">" +
                                                "</div>" +
                                            "</div>"
                                    );
                                }
                                else {
                                    if(psycs_day[i]["psyc_id"] == psyc && psycs[j]["psyc_id"] == psyc){
                                        $('#schedule-appt').append(
                                            "<div id=\"" + k + "\">" +
                                                "<input type=\"hidden\" id=\"psyc-id\" value=\"" + psycs_day[i]["psyc_id"] + "\">" +
                                                "<input type=\"hidden\" id=\"day\" value=\"" + day + "\">" +
                                                "<input type=\"hidden\" id=\"month\" value=\"" + month + "\">" +
                                                "<input type=\"hidden\" id=\"year\" value=\"" + year + "\">" +
                                                psycs[j]["first_name"] + " " + psycs[j]["last_name"] +
                                                "<p>Start:</p>" + psycs_day[i]["time_st"]["hour"] + ":" + psycs_day[i]["time_st"]["minute"] +
                                                "<p>End</p>" + psycs_day[i]["time_end"]["hour"] + ":" + psycs_day[i]["time_end"]["minute"] +
                                                "<label for=\"" + psycs_day[i]["psyc_id"] + "" + psycs_day[i]["time_st"]["hour"] + "\"> Book </label>" +
                                                "<input type=\"radio\" name=\"book\" id=\"" + psycs_day[i]["psyc_id"] + "" + psycs_day[i]["time_st"]["hour"] +"\">" +
                                                "<div id=\"book-dtls\">" +
                                                    "<label for=\"time-st\">Start Time</label>" +
                                                    "<input id=\"time-st\" type=\"number\" max=\"" + psycs_day[i]["time_end"]["hour"] + "\" min=\"" + psycs_day[i]["time_st"]["hour"] + "\" value=\"" + psycs_day[i]["time_st"]["hour"] +"\" step=\"1\">" +
                                                    "<input id=\"time-st-mn\" type=\"number\" min=\"0\" max=\"30\" step=\"30\" value=\"0\">" +
                                                    "<input type=\"hidden\" id=\"time-end-hr\" value=\"" + psycs_day[i]["time_end"]["hour"] + "\">" +
                                                    "<input type=\"hidden\" id=\"time-end-mn\" value=\"" + psycs_day[i]["time_end"]["minute"] + "\">" +
                                                    len_fee_str +
                                                    "<input type=\"button\" value=\"Confirm\" onclick=\"confirm('" + k + "')\">" +
                                                "</div>" +
                                            "</div>"
                                        );
                                    }
                                }
                            }
                        }

                        $('#schedule-appt').css('display', 'block');

                    }
                });
            });

            function confirm(id){
                var child_id= {{ child_id|tojson|safe }};
                var psyc_id = parseInt($('#' + id).find('#psyc-id').val());
                var st_tm_hr = parseInt($('#' + id).find('#time-st').val());
                var st_tm_mn = parseInt($('#' + id).find('#time-st-mn').val());
                var st_dt = $('#' + id).find('#year').val() + "-" +$('#' + id).find('#month').val() + "-" +$('#' + id).find('#day').val() + "-" + st_tm_hr + "-" + st_tm_mn;
                st_tm_mn = st_tm_mn/60;
                var end_tm_hr = parseInt($('#' + id).find('#time-end-hr').val());
                var end_tm_mn = parseFloat($('#' + id).find('#time-end-mn').val());
                end_tm_mn = end_tm_mn/60;
                var len = parseFloat($('input[name=length]:checked').val());

                var time = st_tm_hr + st_tm_mn + len;
                var end = end_tm_hr + end_tm_mn;



                if (isNaN(len)) alert("Please select a consultation length.");
                else if (time > end) alert("Sorry, this  would run over time, pick a different configuration please.");
                else{
                    var send = {
                        'child_id': child_id,
                        'psyc_id': psyc_id,
                        'len': len,
                        'st_dt': st_dt
                    };

                     $.ajax({
                        type : "POST",
                        url : "{{ url_for('consultation') }}",
                        data: JSON.stringify(send, null, '\t'),
                        contentType: 'application/json;charset=UTF-8',
                        success: function(result) {

                            if (result.status){
                                alert(result.message);
                                window.location.href = "{{ url_for('parent') }}";
                            }
                            else alert(result.message);
                        },
                        error: function(error) {
                            alert(JSON.stringify(error));
                        }
                    });
                }


            }
        </script>
    </div>
</main>
{% endblock %}
