{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block content %}
<main id="slide-edit">

    <div class="box">
        <h1 class="title"> Update Slide</h1>
        <hr>
        <div id="slide">
            {{ slide.img|safe }}
        </div>
        <form enctype="multipart/form-data" method="post" action={{ "/slide-update/" ~ s_id}}>
            <div class="form-control-1">
                <input type="file" name="image">
            </div>
            <div class="form-control-2">
                <label for="desc">Image Description</label>
                <div>
                    <input type="text" name="desc" id="desc" value="{{ slide.desc }}">
                </div>
            </div>
            <div class="form-control-2">
                <label for="alt">Image Alt Test (Shown if image can't display)</label>
                <div>
                    <input type="text" name="alt" id="alt" value="{{ slide.alt }}">
                </div>
            </div>
            <div class="form-control-2">
                <input type="submit">
            </div>
        </form>
    </div>

</main>

{% endblock %}