{% extends "base.html" %}
{% block title %}Unpaid Consultations{% endblock %}
{% block content %}
<main>



<!--- Just in case we need the old code
    <div>
    <div class="box">
        <h1 class="title">Pending Consultations</h1>
    </div>
    <form action="/staffconsultations/approvals" method="post">
        {% for consultation in consultations %}
                <li class="list-group-item" style="list-style: none">
                    <div class="box">
                        <p>
                            Name: {{ children[loop.index0].child_nm_fst }} {{ children[loop.index0].child_nm_lst }} <br>
                            Start Time: {{ times[loop.index0].time_st }}<br>
                            End Time: {{ times[loop.index0].time_end }}<br>
                            Approved: <input type="checkbox" name="{{ consultation.cnslt_id }}"><br>
                            <input type="hidden" name="consult_id" value={{ consultation.cnslt_id }}>
                        </p>
                    </div>
                </li>
        {% endfor %}
        <div class="box">
            <button class="btn btn-success" type="submit">
                Submit Approvals
            </button>
        </div>
    </form>
    </div>
    --->

<div class="box">
    <h1 class="title">Unpaid Consultations</h1>
    <hr>
     <a class="title" href="{{ url_for('viewApprovedConsultations') }}">View Paid Consultations</a>
</div>

<form action="/staffconsultations/approvals" method="post">
    <div class="box">
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Consultation Start</th>
                        <th>Consultation End</th>
                        <th>Approved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consultation in consultations %}
                        <tr>
                            <td>
                                {{ children[loop.index0].child_nm_fst }} {{ children[loop.index0].child_nm_lst }}
                            </td>
                            <td>
                                {{ times[loop.index0].time_st }}
                            </td>
                            <td>
                                {{ times[loop.index0].time_end }}
                            </td>
                            <td>
                                 <input type="checkbox" name="{{ consultation.cnslt_id }}"><br>
                                 <input type="hidden" name="consult_id" value={{ consultation.cnslt_id }}>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="box">
            <button class="btn btn-success" type="submit">
                Submit Approvals
            </button>
        </div>
    </form>
</main>
{% endblock %}