{% extends "base.html" %}
{% block title %}Paid Consultations{% endblock %}
{% block content %}
<main>
    <div>
    <div class="box">
        <h1 class="title">Approved Consultations</h1>
    </div>
    <form action="/staffconsultations/approved" method="post">
        {% for consultation in consultations %}
                <li class="list-group-item" style="list-style: none">
                    <div class="box">
                        <p>
                            Name: {{ children[loop.index0].child_nm_fst }} {{ children[loop.index0].child_nm_lst }} <br>
                            Start Time: {{ times[loop.index0].time_st }}<br>
                            End Time: {{ times[loop.index0].time_end }}<br>
                            Approved: <input type="checkbox" checked disabled><br>
                            <input type="hidden" name="consult_id" value={{ consultation.cnslt_id }}>
                        </p>
                    </div>
                </li>
        {% endfor %}
        <div class="box">
            <button class="btn btn-success" type="submit">
                Submit Approvals
            </button>
        </div>
    </form>
    </div>
</main>
{% endblock %}