{% extends "base.html" %}
{% block title %}Consultations{% endblock %}
{% block content %}
<main>
    <div>
    <form action="/staffconsultations/approvals" method="post">
        {% for consultation in consultations %}
                <li class="list-group-item" style="list-style: none">
                    <div class="box">
                        <p>
                            Name: {{ children[loop.index0].child_nm_fst }} {{ children[loop.index0].child_nm_lst }} <br>
                            {% if consultation.paid == 'y' %}
                                Consultation: <input type="checkbox" name="box" checked disabled><br>
                                <input type="hidden" name="consult_id" value={{ consultation.cnslt_id }}>
                            {% else %}
                                Consultation: <input type="checkbox" name="box" ><br>
                                <input type="hidden" name="consult_id" value={{ consultation.cnslt_id }}>
                            {% endif %}
                        </p>
                    </div>
                </li>
        {% endfor %}
        <button type="submit">
            Submit Approvals
        </button>
    </form>
    </div>
</main>
{% endblock %}