{% extends "base.html" %}
{% block title %}Staff Portal{% endblock %}
{% block content %}
<main id="StaffPortal">
    <div class="box">
        <h1 class="title">pls</h1>
        <hr>
        <p>help</p>

        <button>Send an HTTP POST request to a page and get the result back</button>

        <hr>

             <form method="post" name="myForm" action="/videoConf_post" onsubmit="return validateForm()">

                    <input type="submit"/>


            </form>


    </div>

</main>
{% endblock %}