<!-- put these at top otherwise it doesn't show year for some reason-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{{ url_for('static', filename='scripts/question.js') }}" type="text/jscript"></script>
{% extends "base.html" %}
{% block title %}Questions{% endblock %}
{% block content %}
    <main>

        <div class="box">
        <p>Your Child ID: {{ child_id }}</p>

            <h1 class="title">Answer List for Child</h1>
            <hr>

        <form method="post" action="/post_add_questionAnswers" onsubmit="return validateForm()">
         <input type="hidden" name="cField" value="{{ child_id }}")>
            {% for u in questions %}
                <!-- question list -->
                {% if u.void_ind == 'y' and current_user.is_authenticated and current_user.is_in_role("admin") %}
                    <div class="question">
                {% elif u.void_ind == 'y' and current_user.is_authenticated and current_user.is_in_role("user") %}
                    <div class="question" style="display:none; ">
                {% else %}
                    <div class="question">
                {% endif %}

                <p id="questiontitle"><b>{{ u.question }}</b></p>
                <input type="text" name="fname")>
                <input type="hidden" name="qField" value="{{ u.q_id }}")>

            <br>

            <span id="error" style="color:red"></span>
            <!-- END QUESTION -->
            </div>
                <br>
            {% endfor %}
            <br>
            <br>
        <!--Only show submit button if last page  -->


                <input type="submit" value="Submit" onsubmit="return validateForm()">
            </form>

                {% if page > 1 %}
    <a class="previous" style="font-size:30px;" href="./?page={{ page - 1 }}">Previous</a>
{% endif %}
{% if pagination.get_page_count() > page %}

    <a class="next" style="font-size:30px;" href="./?page={{ page + 1 }}">Next</a>
{% endif %}
            </div>
        </div>
    </main>
{% endblock %}
