{% extends "base.html" %}
{% block title %}Write a Blog Post{% endblock %}
{% block content %}
<script src="/static/scripts/tinymce/js/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: 'textarea',
        plugins: 'link',
        menubar: false,
        theme: 'modern',
        mobile: {
            theme: 'mobile',
            toolbar: ['undo', 'redo', 'bold', 'italic', 'link', 'unlink']
        },
        toolbar: 'undo redo | bold italic | link unlink'
    });
</script>
<main id="psyc-page">
    <div class="box">
        <form action="{{ url_for('write_blog_post') }}" method="post" enctype="multipart/form-data">
            <div class="form-control-1">
                <label for="subject">Subject</label><br />
                <input name="subject" type="text" />
            </div>
            <div class="form-control-2">
                <label for="text">Text</label><br />
                <textarea name="text" placeholder="The contents of your blog post go here."></textarea>
            </div>
            <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Publish</button>
        </form>
    </div>
</main>
{% endblock %}
