/*FONT IMPORT*/

@font-face {
    font-family: roboto;
    src: url(roboto-regular.ttf);
}


/*FONT*/

* {
    font-family: 'roboto';
    color: $fontColor;
}


/*TEXT*/

.content h1 {
    font-size: 2.4em;
}

.content h2 {
    font-size: 2.2em;
}

.content h3 {
    font-size: 2em;
}

.content h4 {
    font-size: 1.8em;
}

.content h5 {
    font-size: 1.6em;
}

.content {
  p,
  table,
  label,
  input,
  select{
    font-size: 1.2em;
  }
}

a {
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.content a:hover {
  color: $hoverColor;
}

/*this is for errors on pages*/
.help-block{
  color: red !important;
  margin-top: 0;
}


/*fixes padding issue;
puts the page at the top of the screen*/

.subPage p:first-child {
  margin: 0;
  padding: 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear-both {
    clear: both;
}
